/**
 * Created by BRITENET on 09.04.2021.
 */
.THIS.flex-container {
display: flex;
margin-bottom :5px;
margin-left:10px;
  flex-wrap: nowrap;
  cursor: pointer;
  border: 1px solid lightblue;
  border-radius: 5px;
  border:
}
.THIS.flex-container:hover {
display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
  background-color:lightblue;

}

.THIS.flex-container .box  {

    width: 50%;
    margin: 10px;
    text-align: left;


}
.THIS Star {
    float: left;
    color: red;
}
.THIS.Year{

}
.THIS.Rating{

}

.THIS.RatingVal{

}
